In [5]:
s = "ocean"
s + str(1)

'ocean1'

In [9]:
[1,5,5,6,8,6,"hgjh"]*2             #multiply string no of tymes

[1, 5, 5, 6, 8, 6, 'hgjh', 1, 5, 5, 6, 8, 6, 'hgjh']

In [10]:
56656*5                   #simply multiply the no

283280

In [2]:
s = "OCEan"                            #all string converted into upper case
s.upper()

'OCEAN'

In [3]:
s.lower()                               #all string converted int lower case

'ocean'

In [4]:
s = " my naame is rekha shaligram wahurwagh"      #requires spaces in between words
s.split()

['my', 'naame', 'is', 'rekha', 'shaligram', 'wahurwagh']

In [5]:
s = "my#name#is#rekha#shaligram#wahurwagh"    #does not split in special characters
s.split()

['my@name#is#rekha#shaligram#wahurwagh']

In [7]:
s = "my#name#is#rekha#shaligram#wahurwagh"     #in this case split the given special character
s.split('#')

['my', 'name', 'is', 'rekha', 'shaligram', 'wahurwagh']

In [9]:
s = "jhgdAjhhkfhdAhdfbjhdkad"                #A should not be the part of final data    
s.split('A')

['jhgd', 'jhhkfhd', 'hdfbjhdkad']

In [13]:
s = "jhgdAjhhkfhdhdfbjhdkad"     #It does not have default value of saperator like function split() and delimeter
                                  #will be the part of final result             
s.partition('A')

('jhgd', 'A', 'jhhkfhdhdfbjhdkad')

In [14]:
s = "jhgdAjhhkfhdAhdfbjhdkad"          #this function is occours only for first delimeter not the next
s.partition('A')

('jhgd', 'A', 'jhhkfhdAhdfbjhdkad')

In [16]:
a = "jhjdhdgdalooyweyfqlnsdcvhb"         
a.find('o')

10

In [17]:
a = "jhjdhdgdalooyweyfqlnsdcvhb"              #it returns by default value of -1 if delimeter is not present in the string
a.find('p')

-1

In [19]:
s = "ocean"                                    
s.center(15, "1")

'11111ocean11111'

In [20]:
s = "ocean"                                  #only single character we can pass as 1
s.center(15, "11")

TypeError: The fill character must be exactly one character long

In [24]:
'rekh\tsagar\tsarita\tvishakha\t'.expandtabs()           #\t - tab

'rekh    sagar   sarita  vishakha        '

In [25]:
"my name is {} wahurwagh".format('rekha')             #it replaces the special char with given value

'my name is rekha wahurwagh'

In [32]:
a = input("this is my first name")
b = input("this is my last name")

"my name is {} {}".format(a,b)

this is my first namerekha
this is my last namewahurwagh

'my name is rekha wahurwagh'

In [1]:
s = "ahgav4582"                                        #alpha and numeric value
s.isalnum()

True

In [2]:
s= "jhxjAxv"
s.isalnum()

True

In [3]:
s= "64986532"
s.isalnum()

True

In [4]:
s = "jhbk25755"                                     #only for alpha 
s.isalpha()

False

In [5]:
s = "64565"
s.isalpha()

False

In [6]:
s = "jgznsc"
s.isalpha()

True

In [7]:
s ="jhgfdfghj"                                       #to check date is in lower caps
s.islower()

True

In [8]:
s = "KJHGH354#$"                                     #to check data in uppeer case
s.isupper()

True

In [9]:
s = "Sihgvbnk"                                       #to check the title that first letter is in upper case
s.istitle()

True

In [13]:
s = "dfyguhijo"                                       #to check whether it is ending with given data
s.endswith('o')

True

In [14]:
len(s)                                                #to check the lenth of string/ data

9

In [20]:
a = [8,5,4,894,3,2,61,"gjhs",2.98]
b= ['c',"ssasd",6,5,6,61,31,[2,5,8,8]]
m =[]

for i in a:
    m.append(i)
m

[8, 5, 4, 894, 3, 2, 61, 'gjhs', 2.98]

In [22]:
a + b

[8, 5, 4, 894, 3, 2, 61, 'gjhs', 2.98, 'c', 'ssasd', 6, 5, 6, 61, 31]

In [23]:
a + "jkhjk"                               #same fun can add like a is list so string can not added

TypeError: can only concatenate list (not "str") to list

In [24]:
a + ["khjdshj"]

[8, 5, 4, 894, 3, 2, 61, 'gjhs', 2.98, 'khjdshj']

In [25]:
list(a)

[8, 5, 4, 894, 3, 2, 61, 'gjhs', 2.98]

In [26]:
(a + b)*2

[8,
 5,
 4,
 894,
 3,
 2,
 61,
 'gjhs',
 2.98,
 'c',
 'ssasd',
 6,
 5,
 6,
 61,
 31,
 8,
 5,
 4,
 894,
 3,
 2,
 61,
 'gjhs',
 2.98,
 'c',
 'ssasd',
 6,
 5,
 6,
 61,
 31]

In [27]:
list("iuyhgtr")                        #list() always saperate a data

['i', 'u', 'y', 'h', 'g', 't', 'r']

In [28]:
a + list("kjhg")

[8, 5, 4, 894, 3, 2, 61, 'gjhs', 2.98, 'k', 'j', 'h', 'g']

In [30]:
a.append("kjhg")                             #append() always add the said data at last of the given data
a

[8, 5, 4, 894, 3, 2, 61, 'gjhs', 2.98, 'kjhg', 'kjhg']

In [32]:
a.insert(5,"jhgf")                          #insert() always add the datA at given point in the given data               
a

[8, 5, 4, 894, 3, 'jhgf', 'jhgf', 2, 61, 'gjhs', 2.98, 'kjhg', 'kjhg']

In [33]:
a.insert(-2,"hg")
a

[8, 5, 4, 894, 3, 'jhgf', 'jhgf', 2, 61, 'gjhs', 2.98, 'hg', 'kjhg', 'kjhg']

In [34]:
a.pop(2)                            #Remove the data from given index position
a

[8, 5, 894, 3, 'jhgf', 'jhgf', 2, 61, 'gjhs', 2.98, 'hg', 'kjhg', 'kjhg']

In [35]:
a.pop()

'kjhg'

In [36]:
a.pop(1)

5

In [39]:
a[::-1]                                                #to reverse the data and similar to reverse()

['kjhg', 'hg', 2.98, 'gjhs', 61, 2, 'jhgf', 'jhgf', 3, 894, 8]

In [40]:
a.reverse()                                            #to reverse the data

In [41]:
a

['kjhg', 'hg', 2.98, 'gjhs', 61, 2, 'jhgf', 'jhgf', 3, 894, 8]

In [42]:
a.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [44]:
g = ["gh", "ghj","fgh","fgj"]
g.sort()                                                     #to sort the data- only similar datatypes are allowed- 
                                                              #default sorting in ascending order}
g

['fgh', 'fgj', 'gh', 'ghj']

In [49]:
g = [5,8,2,1,69,2,8,9,3,44]
g.sort(reverse=True)
g

[69, 44, 9, 8, 8, 5, 3, 2, 2, 1]

In [52]:
a = [8,4,8,7,5]
b = [2,5,8,6,6,7]
c = [21,5,4,5,85,45,25]

d = [a,b,c]
d

[[8, 4, 8, 7, 5], [2, 5, 8, 6, 6, 7], [21, 5, 4, 5, 85, 45, 25]]

In [55]:
d[1][::2]                        #to track particular data from string

[2, 8, 6]

In [64]:
m = []
d=d[::-1]
for i in d:
    m.append(i[::-1])                      #to reverse the data from all sring}
d

[[21, 5, 4, 5, 85, 45, 25], [2, 5, 8, 6, 6, 7], [8, 4, 8, 7, 5]]

In [65]:
m

[[25, 45, 85, 5, 4, 5, 21], [7, 6, 6, 8, 5, 2], [5, 7, 8, 4, 8]]

In [83]:
n = []
for i in m:
    m.append(i[2]*1)
n

TypeError: 'int' object is not subscriptable

In [69]:
n

[]

In [87]:
a = [2,5,3,6,8,9,"uyhtgd"]
a.append("[jhcd]")
a

[2, 5, 3, 6, 8, 9, 'uyhtgd', '[jhcd]']

In [97]:
a=[2,5,8,6,85,35,2,4]
a.extend(["jhcd"])
a

[2, 5, 8, 6, 85, 35, 2, 4, 'jhcd']

In [98]:
a.index(5)
a

[2, 5, 8, 6, 85, 35, 2, 4, 'jhcd']

In [4]:
s = "asdfs\tzxcvb\tzxcv\tzxc"
s.expandtabs()

'asdfs   zxcvb   zxcv    zxc'

In [5]:
f ="iujhgfd"
f.replace()

NameError: name 'lkjhgf' is not defined

In [1]:
s = "  oiuy  "

In [2]:
s.strip()          #to remove the space from string  from ends only

'oiuy'

In [3]:
s = "uy iuyh oiuy "

In [4]:
s.strip()

'uy iuyh oiuy'

In [5]:
s = "  oiuy  "
s.lstrip()                  # to remove the spaces from left hand side of the string

'oiuy  '

In [6]:
s = "  oiuy  "
s.rstrip()                  # to remove the spaces from right hand side of the string

'  oiuy'

In [7]:
"   ".join("ocean")         #join string with given

'o   c   e   a   n'

In [9]:
"@".join("REkha")             #join string with given

'R@E@k@h@a'

In [1]:
a= [1,2,3,4,5]
t=['a','b','c','d','e']

m=[]
for i in a:
    n=[]
    for j in range(0,len(t)):
        n.append(str(i) + ""+ t[j])
    m.append(n)

In [2]:
m

[['1a', '1b', '1c', '1d', '1e'],
 ['2a', '2b', '2c', '2d', '2e'],
 ['3a', '3b', '3c', '3d', '3e'],
 ['4a', '4b', '4c', '4d', '4e'],
 ['5a', '5b', '5c', '5d', '5e']]