In [1]:
a = " rekha"

In [2]:
b= 'rekha'

In [3]:
a

' rekha'

In [4]:
b

'rekha'

In [8]:
c = "this is my forst class for the full stack data science that"s why i am using jupyter notebook" 
#cant use same symbol in between the entece that if it is enclosed with it

SyntaxError: invalid syntax (945359135.py, line 1)

In [9]:
c = "this is my forst class for the full stack data science that's why i am using jupyter notebook"

In [10]:
c

"this is my forst class for the full stack data science that's why i am using jupyter notebook"

In [12]:
c[1]     #1st index from "c" i.e. 'h'

'h'

In [14]:
c[-1]    #last one index from "c" i.e. 'k'

'k'

In [15]:
len(c)    #total lenth of 'c'

93

In [16]:
c[100]   #out of index

IndexError: string index out of range

In [17]:
c[12:18]      #char rom index 12 to 18including spaces

'orst c'

In [18]:
c[10:50:2]     #char from 10 to 50 but after every 2nd char

' os ls o h ulsakdt c'

In [19]:
c[20:12:-1]    #char from 20 to 12 from strart but counting in backword directions

'salc tsr'

In [20]:
c[50:-2:1]     #from index 50 to last 2nd in forward direction

"ence that's why i am using jupyter notebo"

In [21]:
for i in c:
    print(i)

t
h
i
s

i
s

m
y

f
o
r
s
t

c
l
a
s
s

f
o
r

t
h
e

f
u
l
l

s
t
a
c
k

d
a
t
a

s
c
i
e
n
c
e

t
h
a
t
'
s

w
h
y

i

a
m

u
s
i
n
g

j
u
p
y
t
e
r

n
o
t
e
b
o
o
k

In [22]:
for i in range(len(c)):
    print(c[i])

t
h
i
s

i
s

m
y

f
o
r
s
t

c
l
a
s
s

f
o
r

t
h
e

f
u
l
l

s
t
a
c
k

d
a
t
a

s
c
i
e
n
c
e

t
h
a
t
'
s

w
h
y

i

a
m

u
s
i
n
g

j
u
p
y
t
e
r

n
o
t
e
b
o
o
k

In [23]:
for i in range(len(c)):
    print(c[-i])    #string doesnt support item assignment i.e. string is immutuble object

t
k
o
o
b
e
t
o
n

r
e
t
y
p
u
j

g
n
i
s
u

m
a

i

y
h
w

s
'
t
a
h
t

e
c
n
e
i
c
s

a
t
a
d

k
c
a
t
s

l
l
u
f

e
h
t

r
o
f

s
s
a
l
c

t
s
r
o
f

y
m

s
i

s
i
h

In [24]:
c[::-1]    #reverse the string

"koobeton retypuj gnisu ma i yhw s'taht ecneics atad kcats lluf eht rof ssalc tsrof ym si siht"

In [25]:
"rekha" + " mnb"    #concate the two string

'rekha mnb'

In [26]:
"rekha" + str(653)   #concate the strings

'rekha653'

In [27]:
d = "likjhgas slkJ"

In [29]:
d.find('k')        #find inde of the string

2

In [31]:
d.find("kijhg")  #-1 means not available into strng

-1

In [36]:
s= "my name is rekha, my father name is shaligram "

In [37]:
d = s.find('name')
for i in range(len('name')):
    print(d + i)

3
4
5
6

In [39]:
s.count('name')        #counting no

2

In [40]:
s.split()    #string spliting on spaces by default

['my', 'name', 'is', 'rekha,', 'my', 'father', 'name', 'is', 'shaligram']

In [41]:
s.split('m')    #string splitig on given as here 'm'

['', 'y na', 'e is rekha, ', 'y father na', 'e is shaligra', ' ']

In [42]:
type(s.split())

list

In [43]:
s.upper()            #convert it into upper case

'MY NAME IS REKHA, MY FATHER NAME IS SHALIGRAM '

In [44]:
s.lower()             #convert it into lower case

'my name is rekha, my father name is shaligram '

In [45]:
d= 'Rekha Wahurwagh Shaligram'

In [46]:
d.swapcase()     #swapping the leters rom uper to lower and lower to upper

'rEKHA wAHURWAGH sHALIGRAM'

In [48]:
'  '.join(d)    #join string with given, here is space

'R  e  k  h  a     W  a  h  u  r  w  a  g  h     S  h  a  l  i  g  r  a  m'

In [49]:
'@'.join(d)

'R@e@k@h@a@ @W@a@h@u@r@w@a@g@h@ @S@h@a@l@i@g@r@a@m'

In [50]:
for i in reversed(d):
    print(i)

m
a
r
g
i
l
a
h
S

h
g
a
w
r
u
h
a
W

a
h
k
e
R

In [55]:
d= '    Rekha  '

In [56]:
d.strip()     #remove the spaces from bothe the end of string

'Rekha'

In [57]:
d.rstrip()       #remove the spaces from right end of string

'    Rekha'

In [58]:
d.lstrip()         #remove the spaces from lft end of string

'Rekha  '

In [63]:
f=d.replace('R','F')      #replace R with F

In [64]:
f

'    Fekha  '

In [65]:
s= 'rekha'

In [66]:
s.center(20, '$')         #string in centr

'$$$$$$$rekha$$$$$$$$'

In [67]:
t='rekha\tsagar\tocean'

In [69]:
t.expandtabs()

'rekha   sagar   ocean'

In [22]:
a= ' We all are the part of Full Stack'

In [23]:
type(a)

str

In [24]:
a.lower()

' we all are the part of full stack'

In [72]:
a.find('a')       #find no of 'a ' in string a

4

In [91]:
a.split()

['We', 'all', 'are', 'the', 'part', 'of', 'Full', 'Stack']

In [79]:
a.replace('a', 'iNeuron')

' We iNeuronll iNeuronre the piNeuronrt of Full StiNeuronck'

In [80]:

list(a)

[' ',
 'W',
 'e',
 ' ',
 'a',
 'l',
 'l',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'p',
 'a',
 'r',
 't',
 ' ',
 'o',
 'f',
 ' ',
 'F',
 'u',
 'l',
 'l',
 ' ',
 'S',
 't',
 'a',
 'c',
 'k']

In [92]:
s=' Rekha'

In [93]:
s.isalpha()

True

In [94]:
s.isupper()        #complete string should be in upper case

False

In [96]:
s.islower()        #complete string shuld in lower case

False

In [97]:
s= 'rekha'

In [98]:
s.isspace()

False

In [99]:
s= ' '

In [100]:
s.isspace()

True

In [101]:
s='1256'

In [102]:
s.isdigit()

True

In [104]:
s.endswith('6')

True

In [105]:
s.startswith('1')

True

In [107]:
s.isalnum()

True

In [108]:
s= 'kjhg12356'
s.isalpha()

False

In [109]:
s.istitle()               #1st letr in upper

False

In [110]:
s = ' I am rekha shaligram Wahurwgh'

In [112]:
count = 0

for i in s:
    count = count + 1
print(count)

30

# OR

In [114]:
len(s)

30

In [113]:
for i in range(len(s)):
    print(s[i])

I

a
m

r
e
k
h
a

s
h
a
l
i
g
r
a
m

W
a
h
u
r
w
g
h

# OR

In [115]:
for i in s:
    print(i)

I

a
m

r
e
k
h
a

s
h
a
l
i
g
r
a
m

W
a
h
u
r
w
g
h

In [117]:
s

' I am rekha shaligram Wahurwgh'

In [120]:
for i in range(1,len(s)):
    print(s[-i])

h
g
w
r
u
h
a
W

m
a
r
g
i
l
a
h
s

a
h
k
e
r

m
a

I

# OR

In [125]:
s = 'I am rekha shaligram wahurwagh'
ch= len(s)-1
while ch >= 0:
    print(s[ch])
    ch = ch -1

h
g
w
r
u
h
a
W

m
a
r
g
i
l
a
h
s

a
h
k
e
r

m
a

I

In [127]:
name = 'iNeuron'
vowels = 'AaEeIiOoUu'

for i in name:
    if i in vowels:
        print("{} is a vowels".format(i))
    else:
        print(" {} is not vowels".format(i))

i is a vowels
 N is not vowels
e is a vowels
u is a vowels
 r is not vowels
o is a vowels
 n is not vowels

In [129]:
"{} name is rekha".format('my')          #format function

'my name is rekha'

In [130]:
a='xcdfsd'
b= 'oikjhgf'

"{} name is rekha and {} name is ocean".format(a,b)

'xcdfsd name is rekha and oikjhgf name is ocean'

# Palindrome

In [131]:
"""eg.
1)NITIN  
2)xyx
2)eye
4)2002
"""

'eg.\n1)NITIN\n2)xyx\n2)eye\n4)2002\n'

In [134]:
s=input("Enter the data to check is it pelindrom :")
s1= s[::-1]                      #pelidrom means the string will same in right as well as backward direction
if s1==s:
    print("it is same")
else:
    print("data is not same")

Enter the data to check is it pelindrom :asdfg
data is not same

# List manupulation

In [135]:
l= [1,2,5,6,9,8,[5,2,5,8,3],'rekha']

In [136]:
l[3]

6

In [139]:
l[0:7]

[1, 2, 5, 6, 9, 8, [5, 2, 5, 8, 3]]

In [140]:
l[::-1]

['rekha', [5, 2, 5, 8, 3], 8, 9, 6, 5, 2, 1]

In [141]:
l

[1, 2, 5, 6, 9, 8, [5, 2, 5, 8, 3], 'rekha']

In [142]:
s= 'rekha'
s= list(s)       #s string is converted into list format

In [143]:
l+s

[1, 2, 5, 6, 9, 8, [5, 2, 5, 8, 3], 'rekha', 'r', 'e', 'k', 'h', 'a']

In [144]:
l

[1, 2, 5, 6, 9, 8, [5, 2, 5, 8, 3], 'rekha']

In [145]:
s=['rekha']
l+s

[1, 2, 5, 6, 9, 8, [5, 2, 5, 8, 3], 'rekha', 'rekha']

In [146]:
l*2

[1,
 2,
 5,
 6,
 9,
 8,
 [5, 2, 5, 8, 3],
 'rekha',
 1,
 2,
 5,
 6,
 9,
 8,
 [5, 2, 5, 8, 3],
 'rekha']

In [147]:
len(l)

8

In [149]:
'rekha' in l          #to check the element is in list or not

True

In [150]:
l

[1, 2, 5, 6, 9, 8, [5, 2, 5, 8, 3], 'rekha']

In [151]:
for i in l:
    print(i)

1
2
5
6
9
8
[5, 2, 5, 8, 3]
rekha

In [153]:
for i in l :
    if type(i)== list:
        print("this is the list : ", i)
    else:
        print("no element is not a list :", i )

no element is not a list : 1
no element is not a list : 2
no element is not a list : 5
no element is not a list : 6
no element is not a list : 9
no element is not a list : 8
this is the list :  [5, 2, 5, 8, 3]
no element is not a list : rekha

In [154]:
l

[1, 2, 5, 6, 9, 8, [5, 2, 5, 8, 3], 'rekha']

In [157]:
l1 = [2,9,'ocean', [2,5,5,89]]

In [156]:
l+l1

[1,
 2,
 5,
 6,
 9,
 8,
 [5, 2, 5, 8, 3],
 'rekha',
 2,
 5,
 8,
 9,
 'ocean',
 [2, 5, 5, 89],
 'sdf']

In [161]:
print(max([2,5,8,9,4]))

9

In [162]:
print(max(["kjh",'asdf', 1452]))

TypeError: '>' not supported between instances of 'int' and 'str'

In [168]:
print(max(['ikujh','asdfg','aSEDRF','z']))

z

In [169]:
print(max(['A','a']))

a

In [170]:
print(min([2,5,8,9,6,1]))

1

In [171]:
print(min(['dfg','asdf','ghgfdfs']))

asdf

In [172]:
l.append('ocean')   #append the data at last of list

In [173]:
l

[1, 2, 5, 6, 9, 8, [5, 2, 5, 8, 3], 'rekha', 'ocean']

In [174]:
l.insert(3,'ineuron')

In [175]:
l

[1, 2, 5, 'ineuron', 6, 9, 8, [5, 2, 5, 8, 3], 'rekha', 'ocean']

In [176]:
l.insert(-2,'sakhi')

In [177]:
l

[1, 2, 5, 'ineuron', 6, 9, 8, [5, 2, 5, 8, 3], 'sakhi', 'rekha', 'ocean']

In [179]:
l.count(2)

1

In [200]:
s=[1,2,5,6,9,8,2,8,9,6,3,5]

In [201]:
s.count(8)

2

In [202]:
s.append(['jh',1])        #append operation allows to add int also

In [203]:
s

[1, 2, 5, 6, 9, 8, 2, 8, 9, 6, 3, 5, ['jh', 1]]

In [204]:
s.extend('rekha')    #extend try to unlist the items, merge to the existing list

In [205]:
s

[1, 2, 5, 6, 9, 8, 2, 8, 9, 6, 3, 5, ['jh', 1], 'r', 'e', 'k', 'h', 'a']

In [1]:
s.extend(25)    #extend operaton is not allow for int

NameError: name 's' is not defined

In [207]:
s.index(9)    #index of first item

4

In [208]:
s.pop()        #po will remove last element

'a'

In [209]:
s

[1, 2, 5, 6, 9, 8, 2, 8, 9, 6, 3, 5, ['jh', 1], 'r', 'e', 'k', 'h']

In [210]:
s.pop(5)     #remov the element on index

8

In [211]:
s

[1, 2, 5, 6, 9, 2, 8, 9, 6, 3, 5, ['jh', 1], 'r', 'e', 'k', 'h']

In [212]:
s.remove(2)

In [213]:
s

[1, 5, 6, 9, 2, 8, 9, 6, 3, 5, ['jh', 1], 'r', 'e', 'k', 'h']

In [214]:
s.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [215]:
d=[2,3,6,96,85,25,32,54,25]

In [217]:
d.sort()

In [218]:
d

[2, 3, 6, 25, 25, 32, 54, 85, 96]

In [219]:
l=[1,2,5,8,9,[2,4,5,'dfvf',89,2],'gfh',[3,35,64,'asdf',98,[2,1,5]],'sdfgh',]

1.append two more list and one complex in between existing list
2.if your nested list contains string then find its index in nested list then print it then remove the string
3.you have to extract 2nd element of each nested list

In [231]:
#1st Question
l.insert(6,[2,5,89,2])
l.insert(-2,[2,8,9,6])
l.insert(3,(5+3j))

In [232]:
l

[1,
 2,
 5,
 (5+3j),
 8,
 9,
 [2, 4, 5, 89, 2],
 [2, 5, 89, 2],
 [2, 5, 89, 2],
 [2, 5, 89, 2],
 [2, 5, 89, 2],
 'gfh',
 [2, 8, 9, 6],
 [2, 8, 9, 6],
 [2, 8, 9, 6],
 [3, 35, 64, 98],
 'sdfgh']

In [242]:
#2nd question
l=[1,2,5,8,9,[2,4,5,'dfvf',89,2],'gfh',[3,35,64,'asdf',98,[2,1,5]],'sdfgh',]
for i in l:
    for j in i:
        if type(j)==str:
            print(string in nested list={}:{}format(i,j))
            print('removed', j )
            i.remove(j)

SyntaxError: invalid syntax (101820018.py, line 6)

In [250]:
l=[[1,2,3],[11,12,'b','b','b'],[21,'t',223],[4,5,6],[7,8,9],'demo',12.5]     
#remove the string feom nested list and find the index of them

In [251]:
for i in l:
    if type(i)==list:
        j=0
        while j <len(i):
            if type(i[j]) is str:
                print('index of string {} is :'.format(i[j]),j)
            j=j+1
        j=0
        while j < len(i):
            if type(i[j]) is str:
                print("the string in nested list is '{}'".format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
print("List after removal of string from nested list is \r",l,'\n')

index of string b is : 2
index of string b is : 3
index of string b is : 4
the string in nested list is 'b'
the string in nested list is 'b'
the string in nested list is 'b'
index of string t is : 1
the string in nested list is 't'
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [246]:
#how to get list inpput 
l=[]
for i in range(5):
    l.append(int(input()))
print(l)

2
5
8
8
9
[2, 5, 8, 8, 9]

In [247]:
input()           #it will return the string

26,6,6,9,3

'26,6,6,9,3'

In [248]:
list(input())

2,5,63,8

['2', ',', '5', ',', '6', '3', ',', '8']

# List Comprehension

In [1]:
l = [1,2,3,5,6,5]

In [2]:
l1=[]

In [3]:
for i in 'rekha':
    l1.append(i)

In [4]:
l1

['r', 'e', 'k', 'h', 'a']

In [5]:
for i in "rekha":
    l.append(i)

In [6]:
l

[1, 2, 3, 5, 6, 5, 'r', 'e', 'k', 'h', 'a']

In [8]:
[i for i in 'rekha']              #thisis called comprehension operation

['r', 'e', 'k', 'h', 'a']

In [9]:
[[i] for i in 'rekha']            #nested list, list inside list

[['r'], ['e'], ['k'], ['h'], ['a']]

In [10]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)

In [11]:
l

[0, 2, 4, 6, 8]

In [13]:
[i for i in range(10) if i%2==0]           #list comprension operation same as above

[0, 2, 4, 6, 8]

In [14]:
l=[]
for i in range(10):
    if i%2 !=0:
        l.append("odd")
    else:
        l.append("even")

In [15]:
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [16]:
['odd' if i%2!=0 else 'even' for i in range(10)]       #list comprehension operation

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [17]:
mat=[]                                  #matrix- nested loop
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [18]:
"""[for i in range(3)]
[[]for i in range(3)]
[[for j in range(3)]for i in range(3)]
[[j for j in range(3)]for i in range(3)]"""

'[for i in range(3)]\n[[]for i in range(3)]\n[[for j in range(3)]for i in range(3)]\n[[j for j in range(3)]for i in range(3)]'

In [19]:
[[j for j in range(3)] for i in range(3)]         #list comprehension

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [21]:
[i for i in range(8)]

[0, 1, 2, 3, 4, 5, 6, 7]

In [22]:
[[j for j in range(8)] for i in range(8)]

[[0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7]]

In [24]:
[i for i in range(8) if i %2==0 if i%3==0]

[0, 6]

In [27]:
l=[]
for i in range(8):
    if i%2 == 0:
        if i%3==0:
            l.append(i)

In [28]:
l             #same as above

[0, 6]

In [32]:
['yes' if i==1 else 'no' if i==2 else 'test' for i in l]            #if elif statemet it is

['yes', 'test', 'test', 'test', 'test', 'test']

In [51]:
l = [1,5,8,9,6,5,]

In [52]:
l

[1, 5, 8, 9, 6, 5]

In [53]:
p=[]
for i in l:
    if i ==1:
        p.append('yes')
    elif i == 2:
        p.append('no')
    else:
        p.append('test')

In [54]:
p

['yes', 'test', 'test', 'test', 'test', 'test']

In [59]:
[('odd') + '1' if i%2==0 else 'even' for i in range(5)]

['odd1', 'even', 'odd1', 'even', 'odd1']

In [61]:
%%time
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9
CPU times: total: 0 ns
Wall time: 6.24 ms

In [64]:
#Enumarate
enumerate([2,5,8,9,3,8])            #enumerate function the items with indexes

In [65]:
for i in enumerate([2,5,8,9,3,8]):
    print(i)

(0, 2)
(1, 5)
(2, 8)
(3, 9)
(4, 3)
(5, 8)

In [68]:
str='rekha'
list(enumerate(str))

[(0, 'r'), (1, 'e'), (2, 'k'), (3, 'h'), (4, 'a')]

In [69]:
s= [ 'd', 's','f','g']                
#every time of iterating the i next item shift to the previous position and that item skip
for i in s:
    s.remove(i)
    print(i)

d
f

# Tuple, Set, Dictionary

In [4]:
#Tuple
t=()
type(t)

tuple

In [5]:
t=(2,5,8,9,6,2)

In [6]:
type(t)

tuple

In [7]:
t

(2, 5, 8, 9, 6, 2)

In [8]:
l=[2,5,8,9,6,4,4]

In [9]:
l

[2, 5, 8, 9, 6, 4, 4]

In [10]:
t[4]

6

In [11]:
t[::-1]

(2, 6, 9, 8, 5, 2)

In [12]:
t[0:2]

(2, 5)

In [13]:
t[2]= 'rekha'            #tuples are immutbale intity cant do this operation of adding element

TypeError: 'tuple' object does not support item assignment

In [47]:
t = (2,5,8,9,'rekha', 'ocean')

In [48]:
t1 = ('asdf', ' sdf', 2,5,5)

In [49]:
  t + t1

(2, 5, 8, 9, 'rekha', 'ocean', 'asdf', ' sdf', 2, 5, 5)

In [50]:
list(t)

[2, 5, 8, 9, 'rekha', 'ocean']

In [51]:
t3 = list(t+t1)

In [52]:
t3

[2, 5, 8, 9, 'rekha', 'ocean', 'asdf', ' sdf', 2, 5, 5]

In [53]:
t3.insert(2, 'rek')

In [54]:
t3

[2, 5, 'rek', 8, 9, 'rekha', 'ocean', 'asdf', ' sdf', 2, 5, 5]

In [55]:
tuple(t3)

(2, 5, 'rek', 8, 9, 'rekha', 'ocean', 'asdf', ' sdf', 2, 5, 5)

In [56]:
t4 = ((2,5,8),(6,8,9,5),(5,8,9,1),'rekha')

In [57]:
t4[2][0:2]          #to extract data

(5, 8)

In [58]:
for i in t4:
    if type(i)==tuple:
        print(i[2])

8
9
9

In [59]:
t

(2, 5, 8, 9, 'rekha', 'ocean')

In [60]:
t1

('asdf', ' sdf', 2, 5, 5)

In [61]:
if len(t)==len(t1):
    print("its same")
else:
    print("not same")

not same

In [62]:
t

(2, 5, 8, 9, 'rekha', 'ocean')

In [63]:
t = input("give the input")
if i in t:
    print("available")
else:
    print("not availabe")

give the input25
not availabe

In [64]:
t = input("give the input")
if i in t:
    print("available")
else:
    print("not availabe")

give the input5
not availabe

In [65]:
#set is not abe to indexing

In [66]:
s= {2,5,8,9,8,5,2,9,5,4,7,8}

In [67]:
s[0]

TypeError: 'set' object is not subscriptable

In [79]:
t = (2,5,8,9,6,65,84512,8,12563,12)

In [80]:
set(t)

{2, 5, 6, 8, 9, 12, 65, 12563, 84512}

In [81]:
for i in t:
    print(i)

2
5
8
9
6
65
84512
8
12563
12

In [82]:
l=[1,2,5,8,6]

In [84]:
set(l)

{1, 2, 5, 6, 8}

In [85]:
l=[2,5,8,9,[2,5,8,9]]

In [87]:
set(l)             #nested list cant not convert into set, to convert it into set we have to unrap it

TypeError: unhashable type: 'list'

In [88]:
s

{2, 4, 5, 7, 8, 9}

In [89]:
s.add('rekha')

In [90]:
s

{2, 4, 5, 7, 8, 9, 'rekha'}

In [92]:
s.add([1,2,5,5])                  #list cant added to the set

TypeError: unhashable type: 'list'

In [93]:
s.add(5)            #if already there exist the element then not to be added

In [94]:
s

{2, 4, 5, 7, 8, 9, 'rekha'}

In [95]:
5 in s

True

In [96]:
1 is s

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\rekha\AppData\Local\Temp\ipykernel_250016\1267949225.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is s

False

In [99]:
s.clear()      #clear all elements

In [100]:
s

set()

In [101]:
s.add('kjhg')

In [102]:
s.add(235)

In [103]:
s.add('kjh')

In [104]:
s

{235, 'kjh', 'kjhg'}

In [115]:
s2=set(l)

In [116]:
l = [12,5,856,589,254,4]

In [117]:
l

[12, 5, 856, 589, 254, 4]

In [123]:
set(l)

{4, 5, 12, 254, 589, 856}

In [124]:
s5 = set(l)

In [125]:
s5

{4, 5, 12, 254, 589, 856}

In [132]:
type(l)

list

In [128]:
type(s5)

set

In [121]:
tuple(l)

(12, 5, 856, 589, 254, 4)

In [126]:
t1 = tuple(l)

In [130]:
type(t1)

tuple

# Dictionary

In [133]:
x= {}           #default

In [134]:
type(x)

dict

In [135]:
x1 = { 1,2,5,8,6}

In [136]:
type(x1)

set

In [137]:
d={'k': 'rekha', 'mob no': 1236547895, 'email id':'rswahurwagh@gmail.com', 'DOB':230395}

In [138]:
d

{'k': 'rekha',
 'mob no': 1236547895,
 'email id': 'rswahurwagh@gmail.com',
 'DOB': 230395}

In [140]:
d.values()

dict_values(['rekha', 1236547895, 'rswahurwagh@gmail.com', 230395])

In [141]:
d.keys()

dict_keys(['k', 'mob no', 'email id', 'DOB'])

In [142]:
d

{'k': 'rekha',
 'mob no': 1236547895,
 'email id': 'rswahurwagh@gmail.com',
 'DOB': 230395}

In [148]:
d={'k': {'name':'ocean','contact':235687415,'email':'ocean@gmail.com'},'name':'rekha', 'mob no': 1236547895,'key':False, 'email id':'rswahurwagh@gmail.com', 'DOB':230395}

In [149]:
d

{'k': {'name': 'ocean', 'contact': 235687415, 'email': 'ocean@gmail.com'},
 'name': 'rekha',
 'mob no': 1236547895,
 'key': False,
 'email id': 'rswahurwagh@gmail.com',
 'DOB': 230395}

In [151]:
d['name']

'rekha'

In [153]:
d['k']["name"]

'ocean'

In [154]:
d['k']

{'name': 'ocean', 'contact': 235687415, 'email': 'ocean@gmail.com'}

In [155]:
c={'name': 'ocean', 'contact': (235687415), 'email': 'ocean@gmail.com'}

In [156]:
c

{'name': 'ocean', 'contact': 235687415, 'email': 'ocean@gmail.com'}

In [157]:
d={'name': 'ocean', 'contact':{ 2,3,5,6,8,7,4,1,5}, 'email': 'ocean@gmail.com'}

In [158]:
d

{'name': 'ocean',
 'contact': {1, 2, 3, 4, 5, 6, 7, 8},
 'email': 'ocean@gmail.com'}

In [159]:
e={'name': 'ocean', 'contact': [235,68,41,5], 'email': 'ocean@gmail.com'}

In [160]:
e

{'name': 'ocean', 'contact': [235, 68, 41, 5], 'email': 'ocean@gmail.com'}

In [161]:
d +e           #not suppoerted

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [162]:
d*2           #not supported

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [163]:
d

{'name': 'ocean',
 'contact': {1, 2, 3, 4, 5, 6, 7, 8},
 'email': 'ocean@gmail.com'}

In [164]:
d['contact']='9552340585'         #re-assignment operation

In [165]:
d

{'name': 'ocean', 'contact': '9552340585', 'email': 'ocean@gmail.com'}

In [166]:
for i in d:              #printing of keys only
    print(i)

name
contact
email

In [168]:
for i in d.keys():           #printing values of curresponding keys
    print(d[i])

ocean
9552340585
ocean@gmail.com

In [169]:
for i in d.keys():
    print(type(d[i]))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
"""Take a paragraph as input by using input function
1. convert all input as list of words
2. Remove all the duplicates elements from the list
3. Use above distinct element as key for dictionary and assign your name as value ofall the key for dictionary
4. Try to print as tuple for all the values
5. Try to print list of all the values"""

'Take a paragraph as input by using input function\n1. convert all input as list of words\n2. Remove all the duplicates elements from the list\n3. Use above distinct element as key for dictionary and assign your name as value ofall the key for dictionary\n4. Try to print as tuple for all the values\n5. Try to print list of all the values'

In [5]:
para = input()
l = para.split()

Name is Rekha

In [45]:
s = set(l)

In [46]:
dict = dict.fromkeys(s, 'rekha')

In [49]:
t1 =tuple(dict.value())

AttributeError: 'dict' object has no attribute 'value'

In [2]:
l1 = dict.keys()

TypeError: unbound method dict.keys() needs an argument