# SOME BASICS

In [ ]:
s = "this is my first python programming class and i am learNING python string and its function"

In [6]:
s[1:300:3]

'h   r tnrrmglsnimengyosi dtfco'

In [7]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp gninrael ma i dna ssalc gnimmargorp nohtyp tsrif ym si siht'

In [8]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [9]:
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [24]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [11]:
s.isalnum()                   #Return True if the string is an alpha-numeric string, False otherwise.

False

In [12]:
s.isalpha()               #Return True if the string is an alphabetic string, False otherwise.

False

In [18]:
t ="abcd\tefgh\tijkl\tmnop\tqrst\tuvwx"
t.expandtabs()

'abcd    efgh    ijkl    mnop    qrst    uvwx'

In [19]:
s.strip()

'this is my first python programming class and i am learning python string and its function'

In [20]:
s.lstrip()

'this is my first python programming class and i am learning python string and its function'

In [21]:
s.rstrip()

'this is my first python programming class and i am learning python string and its function'

In [3]:
while True:
    try:
        a= int(input("Ener a first no-"))
        b= int(input("Enter a second no-"))
        c=a/b
        print(c)
        break
    except ZeroDivisionError:
        print("Enter a non zero denominator")
    except ValueError:
        print("Enter only integers ")

Ener a first no-2
Enter a second no-0
Enter a non zero denominator
Ener a first no-2
Enter a second no-m
Enter only integers
Ener a first no-2
Enter a second no-2
1.0

In [5]:
while True:
    try:
        a=int(input("Enter first no:"))
        b=int(input("Enter second no:"))
        a= a/b
        print("DIv:", c)
        break
    except ZeroDivisionError as e:
        print(e)

Enter first no:2
Enter second no:0
division by zero
Enter first no:2
Enter second no:1
DIv: 1.0

In [1]:
import sys
while True:
    try:
        a=int(input("Enter first no:"))
        b=int(input("Enter second no:"))
        c= a/b
        print("DIv:", c)
        break
    except:
        print(sys.exc_info())

Enter first no:56
Enter second no:14
DIv: 4.0

In [2]:
import sys
while True:
    try:
        a=int(input("Enter first no:"))
        b=int(input("Enter second no:"))
        c= a/b
        print("DIv:", c)
    except:
        print(sys.exc_info())
        print("Exception class:",a)
        print("Exceptin massage:", b)
        print("Exception no:",c.tb_lineno)

Enter first no:65
Enter second no:21
DIv: 3.0952380952380953
Enter first no:25
Enter second no:5
DIv: 5.0
Enter first no:21
Enter second no:0
(<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x0000013709B84100>)
Exception class: 21
Exceptin massage: 0

AttributeError: 'float' object has no attribute 'tb_lineno'