In [3]:
def add(a,b):
    return a+b

In [4]:
add(2,6)

8

In [5]:
def add(a,b):
    return a+b

In [6]:
add("rekha", "ocean")

'rekhaocean'

In [11]:
def test(*a): 
    return a

In [12]:
test(2,5,8,9,5)

(2, 5, 8, 9, 5)

In [23]:
def test3(a,s,c,d, *m):
    return a,s,c,d,m

In [24]:
test3(5,5,8,9,6,5,8,4,5,6)

(5, 5, 8, 9, (6, 5, 8, 4, 5, 6))

In [25]:
def test4(*m, a,b,c,d):
    return m,a,b,c,d

In [27]:
test4(2,5,8,9,a=5,b=8,c=5,d=6)

((2, 5, 8, 9), 5, 8, 5, 6)

In [31]:
def test5(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [32]:
test5(5,8,9,5,6,[2,5,8,9,2])

[5, 8, 9, 5, 6, [2, 5, 8, 9, 2]]

In [33]:
def test6(**a):                 
    return a

In [36]:
test6(a=1,b=2,c=5,d=4,e=8,f=6,g=6)

{'a': 1, 'b': 2, 'c': 5, 'd': 4, 'e': 8, 'f': 6, 'g': 6}

In [37]:
def test8(*m, **n):
    return m, n

In [38]:
test8(1,2,5,8,9,5,4,5,8,6,a=2,s=5,f=5,h=6)

((1, 2, 5, 8, 9, 5, 4, 5, 8, 6), {'a': 2, 's': 5, 'f': 5, 'h': 6})

In [4]:
n = lambda a, b:a+b           #lambda is the reserve key ward to generate the operation like addition
                               #anonimous unction i.e. a function without a name

In [5]:
n(4,5)

9

In [8]:
def test0(a,b):
    return a+b

In [10]:
test0(4,5)

9

In [16]:
p = lambda *n :n

In [17]:
p(1,5,8,9,6,2)

(1, 5, 8, 9, 6, 2)

In [18]:
t =(1,2,5,8,9,6,2)
l=[]
for i in t:
    l.append(i)

In [19]:
l             #convert the tuple into list

[1, 2, 5, 8, 9, 6, 2]

In [21]:
#OR

In [23]:
[i for i in t]         #convert the tuple into list

[1, 2, 5, 8, 9, 6, 2]

In [24]:
s = "ocean"

In [27]:
[i for i in s]      #covert into list

['o', 'c', 'e', 'a', 'n']

In [29]:
#generate square of all the no upto 10

[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
#square of the no using lambda fun
n = lambda *m: [i**2 for i in m]

In [31]:
n(1,2,5,8,9,6,3)

[1, 4, 25, 64, 81, 36, 9]

In [4]:
def test14(**s):
    count=0
    print(s)
    for i in s.values():
        if type(i)== str or type(i)== list:
            count = count +1
    return count

In [5]:
test14(a="sudh", n= 1256, b= "ocean",c=12, d=[1,2,5,"rekha"])

{'a': 'sudh', 'n': 1256, 'b': 'ocean', 'c': 12, 'd': [1, 2, 5, 'rekha']}

3

In [7]:
def test15(**d):
    return list(d.values())      #convert into the list

In [9]:
test15(a="sudh", n= 1256, b= "ocean",c=12, d=[1,2,5,"rekha"])

['sudh', 1256, 'ocean', 12, [1, 2, 5, 'rekha']]