# IF, ELIF,ELSE

In [29]:
a = 10
if a == 10 :     #:mst be there aftr any statment
    print("This is my first program")

This is my first program

In [30]:
a = 10
if a != 11:
   print("my condition is false")
else:
    print("print this")

my condition is false

In [31]:
a = 10
if a == 11:
   print("my condition is false")
else:
    print("print this")

print this

In [32]:
a = 10
if a<= 11:
    print("My condition is true")
elif a == 10:
    print("my condition id false")
else:
    print("none")

My condition is true

In [33]:
a = 1
if a>= 10:
    print("My condition is true")
elif a == 10:
    print("my condition id false")
else:
    print("none")

none

In [34]:
a = 1
if a>= 10:
    print("My condition is true")
elif a <= 10:
    print("my condition id false")
else:
    print("none")

my condition id false

In [35]:
price = 500
if price > 500:
    print(" i will not be able to buy anything")
elif price <= 500:
    print(" i will buy something")

 i will buy something

In [36]:
price = 500
if price > 500:
    print(" i will not be able to buy anything")
elif price < 500:
    print(" i will buy something")

*nothing is printed becouse everything is false*

In [37]:
price = 500
if price > 500:
    print(" i will not be able to buy anything")
elif price < 500:
    print(" i will buy something")
else:
    print("nothing is good going")

nothing is good going

In [38]:
price>500

False

In [39]:
price<500

False

In [40]:
price==500

True

In [41]:
l = [2,8,9,5,6,2,5,8,3]

In [42]:
if 2 in l:
    print("perform the task")
else:
    print("Do not perform the task")

perform the task

In [43]:
l= [1,2,3,44,5,6,7,8,8]

In [44]:
if 1 in l:
    print("perform the addition")
elif 2 in l:
    print(" perform the deletion")
else:
    print(" perform the multiplication")

perform the addition

*it only given the 1st out put coz very 1st condtion has true. it doesnt mean of next any condition thts true or false*

In [50]:
l= [1,2,3,44,5,6,7,8,8]

In [51]:
if 10 in l:
    print("perform the addition")
elif 2 in l:
    print("perform the deletion")
elif 3 in l:
    print("perform the multiplication")
if 5 in l:          #this is totatly new blck,
    print("very good")

perform the deletion
very good

In [52]:
b = 400

In [53]:
b = input()

600

In [54]:
type(b)

str

In [55]:
price=int(input())
if price < 500:
    print("i will be able to buy jacket")
    if price < 300:
        print("i will be able to buy shirt")
    elif price < 200:
        print(" i will be able to buy t shirt")
    else:
        print("i am doing shoping")
else:
    print("i will not be able to buy anytgibg")

600
i will not be able to buy anytgibg

In [56]:
price=int(input())
if price < 500:
    print("i will be able to buy jacket")
    if price < 300:
        print("i will be able to buy shirt")
    elif price < 200:
        print(" i will be able to buy t shirt")
    else:
        print("i am doing shoping")
else:
    print("i will not be able to buy anytgibg")

400
i will be able to buy jacket
i am doing shoping

In [57]:
marks = int(input())
if marks < 600:
    print("No GRE")
    if marks < 500:
        print("TO FEEL")
        if marks <400:
            print("try something else")
        else:
            print("you faoled")
else:
    print(" Congratulations, You got GRE")

200
No GRE
TO FEEL
try something else

In [58]:
marks = int(input())
if marks < 600:
    print("No GRE")
    if marks < 500:
        print("TO FEEL")
        if marks <400:
            print("try something else")
        else:
            print("you faoled")
else:
    print(" Congratulations, You got GRE")

100
No GRE
TO FEEL
try something else

In [59]:
val = float(input("enter floating point no"))
if val >= 0:
    if val == 0:
        print("entered no is zero")
    else:
        print("entered value is positive")
else:
    print("entered value is negative")

enter floating point no0
entered no is zero

In [60]:
val = float(input("enter floating point no"))
if val >= 0:
    if val == 0:
        print("entered no is zero")
    else:
        print("entered value is positive")
else:
    print("entered value is negative")

enter floating point no1
entered value is positive

In [61]:
val = float(input("enter floating point no"))
if val >= 0:
    if val == 0:
        print("entered no is zero")
    else:
        print("entered value is positive")
else:
    print("entered value is negative")

enter floating point no-1
entered value is negative

In [62]:
a = "rekha"
if a < "rekha" or a > "rekha":
    print("Rekha")

In [63]:
a = "rekha"
if a < "rekha" and a > "rekha":
    print("Rekha")

In [64]:
a = "rekha"
if a == "rekha" or a == "Rekha":
    print("Rekha")

Rekha

*T or F = T*

In [65]:
a = "rekha"
if a == "rekha" and a>= "Rekha":
    print("Rekha")

Rekha

*T and T = T*

In [66]:
a = 9
b = 10
c = 11
d = 12
if a==9 and b==10 and c == 11 and d == 12:
    print("try to write something")

try to write something

In [67]:
a = 9
b = 10
c = 11
d = 12
if a==10 and b==10 and c == 11 and d == 12:
    print("try to write something")

*not printed anything*

In [68]:
a = 9
b = 10
c = 11
d = 12
if a==9 or b==10 and c == 11 and d == 12:
    print("try to write something")

try to write something

*F or T= T
T or T = T
T or T = T*

In [69]:
d = {"key1" : "value", "key2": "rekha", "key3":"sagar"}

In [70]:
if d["key1"]=="value" and d["key2"]=="rekha" and d["key3"]=="sagar":
    print("all the values are verified")
    print(d.values())
else:
    print(" all the values are not verified")

all the values are verified
dict_values(['value', 'rekha', 'sagar'])

In [71]:
if d["key1"]=="value" and d["key2"]=="Rekha" and d["key3"]=="sagar":
    print("all the values are verified")
    print(d.values())
else:
    print(" all the values are not verified")

 all the values are not verified

In [72]:
l = [1,2,5,8,9,"ytoiuy", 235.5]

In [73]:
for i in l :
    print(i)

1
2
5
8
9
ytoiuy
235.5

In [74]:
for i in l :
    print(i+1)

2
3
6
9
10

TypeError: can only concatenate str (not "int") to str

In [75]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))

2
3
6
9
10
ytoiuy1
236.5

# FOR Loop

In [76]:
l = [1,2,5,6,3,5,8,"jhgtg",235.65]

*write list into row wise*

In [77]:
for i in l:
    print(i)

1
2
5
6
3
5
8
jhgtg
235.65

In [78]:
for i in l:
    print(i)
else:
    print("if for loop going to complete itself then it will execute else")

1
2
5
6
3
5
8
jhgtg
235.65
if for loop going to complete itself then it will execute else

In [79]:
for i in l:
    if i == 6:
        break
    print(i)
else:
    print("if for loop going to complete itself then it will execute else")

1
2
5

*print string upto "n"*

In [80]:
s = "sealine"
for i in s :
    if i == 'n':
        break
    print(i)
else:
    print("print string", s)

s
e
a
l
i

*Execute program to chk v in it*

In [81]:
s = "sealine"
for i in s :
    if i == 'v':
        break
    print(i)
else:
    print("print string", s)

s
e
a
l
i
n
e
print string sealine

In [82]:
s = {4,4,4,5,5,5,5,8,5,8,6,6,61,1,1,1,"uytr"}     #set will remove al duplicates

In [83]:
for i in s:
    print(i)

1
uytr
4
5
6
8
61

In [84]:
d= {"key1":"Rekha", "contact":9552340582, "place":"Mumbai"}

*Print only keys from dictionary*

In [85]:
for i in d:
    print(i)

key1
contact
place

*Print values from dictionaty*

In [86]:
for i in d:
    print(d[i])

Rekha
9552340582
Mumbai

*Print output as given*

In [87]:
n = 4
for i in range(4):
    for j in range(0, i+1):
        print("Rekha", end="  ")
    print("\n")

Rekha

Rekha  Rekha

Rekha  Rekha  Rekha

Rekha  Rekha  Rekha  Rekha

*n = 4 means, 4 rows----
range(4) means 0,1,2,3----
for loop inside the for loop printed the value more 1 in previous index until range is 0,4----
end=" " is for space between every word----
\n is for every new line*

*Print as given*

In [88]:
n=3
for i in range(n):
    for j in range(i, n-1):
        print(" "* n," ", end=" ")
    for j in range(i+1):
        print("rekha",end=" ")
    for j in range(i):
        print("rekha",end=" ")
    print()

            rekha
      rekha rekha rekha
rekha rekha rekha rekha rekha

In [89]:
n=3
for i in range(n):
    for j in range(i, n-1):
        print(" " * n, len("rekh"), end=" ")
    for j in range(i+1):
        print("rekh",end=" ")
    for j in range(i):
        print("rekh",end=" ")
    print()

    4     4 rekh
    4 rekh rekh rekh
rekh rekh rekh rekh rekh

In [90]:
n=3
for i in range(n):
    for j in range(i, n-1):
        print("       "," "*n, end=" ")
    for j in range(i+1):
        print("rekha",end=" ")
    for j in range(i):
        print("rekha",end=" ")
    print()

                        rekha
            rekha rekha rekha
rekha rekha rekha rekha rekha

In [91]:
t = (1,2,5,6,9,6,3,3,5,8)

*Print the indexes with items in tuple*

In [92]:
for i in range(len(t)):
    print(i, t[i])

0 1
1 2
2 5
3 6
4 9
5 6
6 3
7 3
8 5
9 8

In [93]:
s = "sealine"
for i in range(len(s)):
    print(i, s[i])

0 s
1 e
2 a
3 l
4 i
5 n
6 e

In [94]:
s = "sealine"
s1 = s[::-1]
for i in range(len(s1)):
    print(i, s1[i])

0 e
1 n
2 i
3 l
4 a
5 e
6 s

*print indexes with items in reverse*

In [95]:
s = "sealine"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 e
5 n
4 i
3 l
2 a
1 e
0 s

*Print items in dictionary, type of dictionary and type of items each*

In [96]:
d

{'key1': 'Rekha', 'contact': 9552340582, 'place': 'Mumbai'}

In [97]:
for i in d.items():
    print(i, type(i), type(i[1]), type([2]))

('key1', 'Rekha') <class 'tuple'> <class 'str'> <class 'list'>
('contact', 9552340582) <class 'tuple'> <class 'int'> <class 'list'>
('place', 'Mumbai') <class 'tuple'> <class 'str'> <class 'list'>

*Print the integer in seperate list*

In [98]:
l = [1256,"olikuhjygt","oiuytgr",54258,"yt",85]

In [99]:
l1= []
for i in l:
    if type(i)== int:
        l1.append(i)

In [100]:
l1

[1256, 54258, 85]

*Print the list in string only*

In [101]:
l

[1256, 'olikuhjygt', 'oiuytgr', 54258, 'yt', 85]

In [102]:
l2=[]
for i in l:
    if type(l)==str:
        l2.append(l)

In [103]:
l2

[]

*Key value pair must b the numeric value*

In [104]:
d1 = {'key1': 'Rekha', 'contact': 9552340582, 'place': 'Mumbai', 5285:522, "ikujyh":6326, 3638:"kujyxbv", 258:"nhgu"}

In [105]:
for i in d1:
    if type(i)==int:
        print(i, ":", d1[i])

5285 : 522
3638 : kujyxbv
258 : nhgu

In [106]:
s = "aaaaassssssvvvvttttt"

In [107]:
for i in set(s):
    print(i, ":", s.count(i))

v : 4
a : 5
s : 6
t : 5

In [108]:
i = 584656541658542         # int is not iterable so conveted into str
for j in str(i):
    print(j)

5
8
4
6
5
6
5
4
1
6
5
8
5
4
2

In [109]:
i = 584656541658542         # int is not iterable so conveted into str
for j in str(i):
    print(int(j), type(int(j)))  #again converted the type into int

5 <class 'int'>
8 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
1 <class 'int'>
6 <class 'int'>
5 <class 'int'>
8 <class 'int'>
5 <class 'int'>
4 <class 'int'>
2 <class 'int'>

In [110]:
str(i)

'584656541658542'

*Print all the 3 in given tuple t*

In [6]:
t = ("rekha", "ocean", [1,2,3,4,5,], (3,4,5,6), {"3":"3", "key2":"ocean"})

In [7]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i)==dict:
        for j in i:
            if j == 3:
                print(j)

3
3

In [8]:
t

('rekha', 'ocean', [1, 2, 3, 4, 5], (3, 4, 5, 6), {'3': '3', 'key2': 'ocean'})

In [9]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i)== dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3

In [5]:
j

NameError: name 'j' is not defined

In [1]:
n=int(input())
m= 1
for i in range(m, n+1):    
    print(m, end="")
    m = m+1
    continue

6
123456