# LIST

In [99]:
l=[]

In [4]:
l=[2,8,5,3,9,"jhg",2.5,True]

In [5]:
l[0]              #element at index zero

2

In [6]:
l[2:6]             #lenth of list from index 2 to 6 lower and upper bound that excluded

[5, 3, 9, 'jhg']

In [7]:
len(l)             #length of given list

8

In [8]:
  l[::-1]         #reverse of list

[True, 2.5, 'jhg', 9, 3, 5, 8, 2]

In [10]:
l[0:100:2]       #list with jumping from 2nd place

[2, 5, 9, 2.5]

In [11]:
l[0:10:-1]            #will reverse blank list y coz its directed in +ve direction and jumping is in -ve- contradiction[]

[]

In [13]:
l[:6]               # will take default lower bound as zero

[2, 8, 5, 3, 9, 'jhg']

In [16]:
 l + ["oiuy"]

[2, 8, 5, 3, 9, 'jhg', 2.5, True, 'oiuy']

In [17]:
l*2

[2, 8, 5, 3, 9, 'jhg', 2.5, True, 2, 8, 5, 3, 9, 'jhg', 2.5, True]

In [19]:
60 in l

False

In [20]:
  9 in l

True

In [3]:
k=["sdfasd", "asdfds", "erthmnb", "wehfgcv"]

In [4]:
min(k)              #to find lowest within the list- lowest alpha

'asdfds'

In [5]:
max(k)                #to find max within the list - highest in no

'wehfgcv'

In [6]:
k.append("asdfgh")        #it is the function to add the data in list at the very last position

In [7]:
k

['sdfasd', 'asdfds', 'erthmnb', 'wehfgcv', 'asdfgh']

In [8]:
k.append("[1,5,2,5,8,4,3]")

In [9]:
k

['sdfasd', 'asdfds', 'erthmnb', 'wehfgcv', 'asdfgh', '[1,5,2,5,8,4,3]']

In [11]:
k.pop(0)             #to remove the data from list at that given index

'sdfasd'

In [12]:
k

['asdfds', 'erthmnb', 'wehfgcv', 'asdfgh']

In [13]:
k.pop()                #if index is not passed then it will return by default last element

'asdfgh'

In [14]:
k

['asdfds', 'erthmnb', 'wehfgcv']

In [2]:
k=["sdfasd", "asdfds", "erthmnb", "wehfgcv"]

In [3]:
k.count(2)

0

In [7]:
k=[[1,5,8,4,6,2],[2,5,8,9,4],[2,54,7,8,6,2]]

In [8]:
k[1]

[2, 5, 8, 9, 4]

In [6]:
k[2][2]            #in k list other 3 list are. index 0, 1, 2. we are fetching details of 2nd index and 2nd element

7

In [12]:
k.append([1,2,5,3])           #to add the element in current list

In [13]:
k

[[1, 5, 8, 4, 6, 2],
 [2, 5, 8, 9, 4],
 [2, 54, 7, 8, 6, 2],
 [1, 2, 5, 3],
 [1, 2, 5, 3]]

In [14]:
k.extend("sdf")

In [15]:
k

[[1, 5, 8, 4, 6, 2],
 [2, 5, 8, 9, 4],
 [2, 54, 7, 8, 6, 2],
 [1, 2, 5, 3],
 [1, 2, 5, 3],
 's',
 'd',
 'f']

In [16]:
k.extend(25)                 #integer not able to iterate in extend

TypeError: 'int' object is not iterable

In [17]:
k.extend("[1,2,5,4,7,9,6]")

In [18]:
k

[[1, 5, 8, 4, 6, 2],
 [2, 5, 8, 9, 4],
 [2, 54, 7, 8, 6, 2],
 [1, 2, 5, 3],
 [1, 2, 5, 3],
 's',
 'd',
 'f',
 '[',
 '1',
 ',',
 '2',
 ',',
 '5',
 ',',
 '4',
 ',',
 '7',
 ',',
 '9',
 ',',
 '6',
 ']']

In [25]:
a= [1,2,5,6,5,8,9]

In [34]:
a.insert(3, [2,5,8,3])

In [35]:
a

[1,
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 2,
 'jhg',
 5,
 6,
 5,
 8,
 9]

In [36]:
a.insert(5,"jhg")            #insert an element at perticular place/index

In [37]:
a

[1,
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 'jhg',
 2,
 'jhg',
 5,
 6,
 5,
 8,
 9]

In [38]:
a.pop()           #to remove the element from list from end

9

In [39]:
a.remove(5)       #to remove the perticular element from the list but first if multiple

In [40]:
a

[1,
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 'jhg',
 2,
 'jhg',
 6,
 5,
 8]

In [ ]:
# a[6]="rekha"     #the element 6 has replaced by rekha

In [43]:
a

[1,
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 [2, 5, 8, 3],
 'jhg',
 'rekha',
 'jhg',
 6,
 5,
 8]

# Tuple

In [45]:
t = (1,5,8, "ocean", [1,5,4], 'true', 5.6, 4 + 3j)

In [46]:
type(t)

tuple

In [48]:
t[2]         #value on index 2 in tuple

8

In [49]:
t[1:6]         #value from lower bound index 1 to upper bound bound 6 that is excluded

(5, 8, 'ocean', [1, 5, 4], 'true')

In [51]:
t[0:8:2]    # values from 0 th index to 8 th index and shifting to every 2nd place

(1, 8, [1, 5, 4], 5.6)

In [52]:
t = {}

In [53]:
type(t)

dict

In [2]:
t={2}

In [3]:
type(t)

set

In [7]:
t = {2, "sdfg", "edrfy",2.5, 4+3j}

In [8]:
type(t)

set

 # Dictionary

In [13]:
d2={ "key1" : "value", "xyz" : "name", "No" : 9096462010, "name" : "ocean"}

In [14]:
type(d2)

dict

In [17]:
d2["key1"]

'value'

In [26]:
d3 = {"name" : "Rekha", "tech" : ["python", "ML", "DL", "data science", "Big data"], "Age" : "25", "field" : "Engineering"}

In [27]:
d3["tech"]

['python', 'ML', 'DL', 'data science', 'Big data']

In [28]:
"python" in d3["tech"]

True

In [29]:
'ML' in d3["tech"]

True

In [37]:
d3

{'name': 'Rekha',
 'tech': ['python', 'ML', 'DL', 'data science', 'Big data'],
 'Age': '25',
 'field': 'Engineering',
 'k1': {'key1': 'value', 'xyz': 'name', 'No': 9096462010, 'name': 'ocean'}}

In [41]:
d3["k1"] = d2          #dictionary inside the dictionary

In [44]:
d3["k1"]["No"]         #to extract no from the dictionary

9096462010

In [45]:
d4 = {[2,5,8,9,3] : "ujytre"} #unable to right the list inside dictionary as a key

TypeError: unhashable type: 'list'

In [46]:
d5 = {"key2": [2,5,8,9,3]}      #inside the dictionary list can be value of the key

In [47]:
d5["key2"]

[2, 5, 8, 9, 3]

In [48]:
d6 = {(2,5,8,9,33) : "ytrtyh"}   #inside the dictionary tuple can be right as a key

In [50]:
d6[(2,5,8,9,33)]

'ytrtyh'

In [51]:
d7 = {"kjhg" : (2,5,8,9)}         #inside the dictionary tuple can be right as a value

In [52]:
d7["kjhg"]

(2, 5, 8, 9)

In [56]:
d8 = {{"jhg": 16563} : "key"}       #inside the dictionary the dictionary cant be right as a key

TypeError: unhashable type: 'dict'

In [57]:
d9 = {"juhg" : {"likuj" : 32232}}   #inside the dictionary the dictionary cant be right as a value

In [58]:
d9["juhg"]

{'likuj': 32232}

In [59]:
d2

{'key1': 'value', 'xyz': 'name', 'No': 9096462010, 'name': 'ocean'}

In [63]:
d2.values()           #extract the values in dictionary

dict_values(['value', 'name', 9096462010, 'ocean'])

In [64]:
d2.items()         #extract the items in dictionary

dict_items([('key1', 'value'), ('xyz', 'name'), ('No', 9096462010), ('name', 'ocean')])

In [65]:
d2.keys()            # #extract the keys in dictionary

dict_keys(['key1', 'xyz', 'No', 'name'])

# SET

In [66]:
s = {2,5,8,9,2,5,8,4,3,5,8,2}

In [68]:
type(s)

set

In [69]:
s              #set is use to remove the multiple items and tp do sorting operatins

{2, 3, 4, 5, 8, 9}

In [72]:
s2 = {"ocean", 12,589,25,2,35, "d", "kjj"}

In [73]:
s2              #sorting via places value

{12, 2, 25, 35, 589, 'd', 'kjj', 'ocean'}

In [74]:
s2[1]               #we cant set the date in set as per indexes

TypeError: 'set' object is not subscriptable

In [75]:
list(s2)                # set has converted into the list

['ocean', 2, 35, 'd', 12, 589, 'kjj', 25]

In [77]:
tuple(s2)               # set has converted into the tuple

('ocean', 2, 35, 'd', 12, 589, 'kjj', 25)

In [78]:
l = [1,2,5,8,6,8,5,8,5,5,5,5,3,3,3,8,1,2,2,5,2,5,5]

In [79]:
set(l)           # to remove multiple items from list it must to convert the liat into set

{1, 2, 3, 5, 6, 8}

In [80]:
l = list(set(l))

In [81]:
l              #converted into the list

[1, 2, 3, 5, 6, 8]

In [82]:
s2.add(52)         #item is added in corrent set

In [83]:
s2

{12, 2, 25, 35, 52, 589, 'd', 'kjj', 'ocean'}

In [84]:
s2.add([1,5,8,9,6,5])      #not able to add the list inside the set

TypeError: unhashable type: 'list'

In [85]:
s3 = {(2,4,5,6,8,9,2), 1,5,8,9,2}               #its able to add the tuple inside the set

In [86]:
s3

{(2, 4, 5, 6, 8, 9, 2), 1, 2, 5, 8, 9}

In [87]:
s3.remove(9)             #to remove the element from set

In [88]:
s3

{(2, 4, 5, 6, 8, 9, 2), 1, 2, 5, 8}

In [97]:
s3.discard(8)              #discard the element from set

In [98]:
s3

{(2, 4, 5, 6, 8, 9, 2), 1, 2}

diff between remove and discard is 
-remove will show error if element is not present inside the set
-discard will not show any error either element will present inside the set or not

In [102]:
s

{2, 3, 4, 5, 8, 9}

In [101]:
s3.sort(reverse=True)   #not able to sort i set

AttributeError: 'set' object has no attribute 'sort'

In [103]:
list(s3)

[1, 2, (2, 4, 5, 6, 8, 9, 2)]

In [116]:
l= [2,5,8,9,2,3,58,6,3,2,56]

In [117]:
l.sort(reverse= True)

In [113]:
l

[58, 56, 9, 8, 6, 5, 3, 3, 2, 2, 2]