# pip install mysql-connector-python

In [1]:
import mysql.connector as conn
mydb = conn.connect(host = "localhost", user = "root", passwd = "R$wagh23"  )

print(mydb)
cursor =mydb.cursor()
cursor.execute("show databases")
print(cursor.fetchall())

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020DD87048E0>
[('information_schema',), ('mysql',), ('ocean',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [ ]:

#'cursor.execute("create database ocean")
s = cursor.execute("create table ocean.Sea_line(emp_ID int(10) , Emp_Name varchar(80) , Emp_Email varchar(20) , Emp_Salary int(6) , ")
cursor.execute(s)

In [9]:
import mysql.connector as conn

mydb = conn.connect(host = "localhost", user = "root", passwd = "R$wagh23"  )
cursor =mydb.cursor()
#cursor.execute("create database ocean")

#s= "create table ocean.Sea_line(emp_ID int(10) , Emp_Name varchar(80) , Emp_Email varchar(20) , Emp_Salary int(6))"
#q1 = cursor.execute(s)

q2 = cursor.execute("select * from ocean.Sea_Line")
print(q2)

None

In [10]:
#none means no error and table has executed and next step to put up some date inside the table for all variable like emp na

In [11]:
import mysql.connector as conn

mydb = conn.connect(host = "localhost", user = "root", passwd = "R$wagh23"  )
cursor =mydb.cursor()


s= "insert into ocean.Sea_Line value(265, 'ocean' , 'ocean@gmail.com' , 59000)"
mydb.commit()

In [13]:
import mysql.connector as conn

mydb = conn.connect(host = "localhost", user = "root", passwd = "R$wagh23"  )
cursor =mydb.cursor()


s= "insert into ocean.Sea_Line value(265, 'ocean' , 'ocean@gmail.com' , 59000)"
mydb.commit()
cursor.execute(s)
cursor.execute("select * from ocean.Sea_Line ")
for i in cursor.fetchall():
    print(i)

(265, 'ocean', 'ocean@gmail.com', 59000)

In [14]:
import mysql.connector as conn

mydb = conn.connect(host = "localhost", user = "root", passwd = "R$wagh23"  )
cursor =mydb.cursor()

cursor.execute("select emp_ID from ocean.Sea_Line")
l = []
for i in cursor.fetchall():
    l.append(i)

print(l)
print(type(l))

[(265,)]
<class 'list'>