In [1]:
    l =[1,2,3,5,6,8,9]

In [2]:
len(l)

7

In [7]:
a = 0
while a <len(l):
    print(l[a])
    a = a+1

1
2
3
5
6
8
9

In [12]:
l = (1,2,5,8,9,6,3,4,5)

In [20]:
a = 0
while a < len(l):
    if l[a]==8 or l[a]==4:
        print(a)
    a=a+1

3
7

In [1]:
n = 4
for i in range(n):
    for j in range(n-1): 
        print('      $ ' , end = " ")
    print()
    for j in range(n+1):
        print('   @ ', end =" " )
    print()

      $        $        $
   @     @     @     @     @
      $        $        $
   @     @     @     @     @
      $        $        $
   @     @     @     @     @
      $        $        $
   @     @     @     @     @

In [32]:
n = 8
for i in range(n):      #defines no of row
    for j in range(n):  #defines no of columns
        print(" * ", end= " ")
    print()

 *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *

In [41]:
n = 5
for i in range(n):      #defines no of row
    for j in range(i + 1):  #defines no of columns
        print(" * ", end= " ")
    print()

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [40]:
n = 5
for i in range(n):      #defines no of row
    for j in range(i, n):  #defines no of columns that reduces by 1
        print(" * ", end= " ")
    print()

 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *

In [46]:
n = 5
for i in range(n):
    for j in range(i, n):
        print(' ', end = " ")
    for j in range(i + 1):
        print('*', end = " ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [47]:
n = 5
for i in range(n):
    for j in range(i, n):
        print(" ", end = " ")
    for j in range(i + 1):
        print(" * ", end = " ")
    print()

           *
         *   *
       *   *   *
     *   *   *   *
   *   *   *   *   *

In [50]:
n = 5
for i in range(n):
    for j in range(n + 1):
        print(' ', end= " ")
    for j in range(i, n):
        print(' * ', end= "")
    print()

             *  *  *  *  *
             *  *  *  *
             *  *  *
             *  *
             *

In [4]:
n = 5
for i in range(n):
    for j in range(i, n):
        print('  ',end="")
    for j in range(i):
        print('*',end =' ')
    for j in range(i+1):
        print('*',end = " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [65]:
n = 5
for i in range(n):
    for j in range(i+1):
        print('  ',end="")   # this is for blank increasing triangle pattern
    for j in range(i, n-1):
        print('*',end =' ')   #this is for decreasing triangle pattern
    for j in range(i, n):
        print('*',end = " ")  #this is for decreasing triangle pattern
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [70]:
n = 5
for i in range(n-1):
    for j in range(i, n):
        print('  ',end="")
    for j in range(i):
        print('*',end =' ')
    for j in range(i+1):
        print('*',end = " ")
    print()
for i in range(n):
    for j in range(i+1):
        print('  ',end="")   # this is for blank increasing triangle pattern
    for j in range(i, n-1):
        print('*',end =' ')   #this is for decreasing triangle pattern
    for j in range(i, n):
        print('*',end = " ")  #this is for decreasing triangle pattern
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [81]:
j=0
for i in range(9,0,-1):
 print( i * '*',end="")
 print(" " * j + i * '*')
 j=j+2
 
j=16
for i in range(1,9,1):
 print(i * '*' +" " * j + i * '*')
 j=j-2

******************
********  ********
*******    *******
******      ******
*****        *****
****          ****
***            ***
**              **
*                *
*                *
**              **
***            ***
****          ****
*****        *****
******      ******
*******    *******
********  ********