In [1]:
import sqlite3

In [25]:
c = sqlite3.connect("xyz1")

In [26]:
c.execute("drop table if exists abc")

In [27]:
c.execute("create table abc(Id int, name text, Score int)")

In [28]:
pwd()

'C:\\Users\\rekha'

In [31]:
c.execute("insert into abc(id, name, score) Values (656,'Rekha',120)")
c.execute("insert into abc(id, name, score) Values (657,'Sagar',105)")
c.execute("insert into abc(id, name, score) Values (658,'Sonu',150)")
c.execute("insert into abc(id, name, score) Values (659,'Ocean',200)")
c.execute("insert into abc(id, name, score) Values (650,'Samar',300)")
c.execute("insert into abc(id, name, score) Values (651,'Poonam',600)")

In [32]:
c.commit()

In [33]:
c.execute("select*from abc")

In [37]:
list(c.execute("select*from abc"))

[(656, 'Rekha', 100),
 (656, 'Rekha', 120),
 (657, 'Sagar', 105),
 (658, 'Sonu', 150),
 (659, 'Ocean', 200),
 (650, 'Samar', 300),
 (651, 'Poonam', 600)]

In [35]:
list(c.execute("select*from abc"))[0]

(656, 'Rekha', 100)

In [36]:
type(list(c.execute("select*from abc"))[0])

tuple

In [38]:
for i in c.execute("select*from abc"):
    print(i)

(656, 'Rekha', 100)
(656, 'Rekha', 120)
(657, 'Sagar', 105)
(658, 'Sonu', 150)
(659, 'Ocean', 200)
(650, 'Samar', 300)
(651, 'Poonam', 600)

In [39]:
for i in c.execute("select*from abc order by score"):
    print(i)

(656, 'Rekha', 100)
(657, 'Sagar', 105)
(656, 'Rekha', 120)
(658, 'Sonu', 150)
(659, 'Ocean', 200)
(650, 'Samar', 300)
(651, 'Poonam', 600)

In [43]:
for i in c.execute("select*from abc where name = 'Rekha'"):
    print(i)

(656, 'Rekha', 100)
(656, 'Rekha', 120)

In [44]:
for i in c.execute("select id,name from abc where name = 'Rekha'"):
    print(i)

(656, 'Rekha')
(656, 'Rekha')